.tasks {
    font-size: 16px;
    margin-bottom: 50px;

    h2 {
        position: absolute;
        left: 50%;
        top: 50%;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 22px;
        color: #C9D1D3;

    }
}