.tasks__title {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #F2F2F2;
     
    h1 {
        margin-right: 15px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #64C4ED;
    }

    &:hover {
        .rename-popup__button{
            opacity: 0.2;           
        }
    }

}